streamlit
pdfminer.six
langchain
langchain-openai
langchain-community
chromadb
openai
httpx
tiktoken
# streamlit>=1.35.0
openai-whisper
torch
ffmpeg-python
numpy
streamlit-webrtc
soundfile
av
python-dotenv